DEBUG=1
DJANGO_SUPERUSER_USERNAME=
DJANGO_SUPERUSER_EMAIL=
DJANGO_SUPERUSER_PASSWORD=
DJANGO_SUPERUSER_API_KEY=

# DOMAIN_NAME and SUBDOMAIN together determine where n8n will be reachable from
# The top level domain to serve from
# DOMAIN_NAME=localhost

# The subdomain to serve from
# SUBDOMAIN=n8n

# The above example serve n8n at: https://n8n.example.com

# Optional timezone to set which gets used by Cron and other scheduling nodes
# New York is the default value if not set
GENERIC_TIMEZONE=Europe/Paris

# The email address to use for the TLS/SSL certificate creation
# SSL_EMAIL=user@example.com

# MARIADB_HOST=mariadb
# MARIADB_PORT=3306
# MARIADB_DATABASE=n8n
# MARIADB_USER=n8n
# MARIADB_PASSWORD=n8n
# MARIADB_ROOT_PASSWORD=n8n
POSTGRES_USER=n8n_admin
POSTGRES_PASSWORD=n8n_admin
POSTGRES_DB=n8n
POSTGRES_NON_ROOT_USER=n8n_user
POSTGRES_NON_ROOT_PASSWORD=n8n_user

N8N_HOST=localhost
N8N_PORT=5678
N8N_PROTOCOL=http
NODE_ENV=development
WEBHOOK_URL=http://localhost/
N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
GENERIC_TIMEZONE="Europe/Paris"
TZ="Europe/Paris"

# DB_TYPE=postgresdb
# DB_MYSQLDB_HOST=${MARIADB_HOST}
# DB_MYSQLDB_PORT=${MARIADB_PORT}
# DB_MYSQLDB_DATABASE=${MARIADB_DATABASE}
# DB_MYSQLDB_USER=${MARIADB_USER}
# DB_MYSQLDB_PASSWORD=${MARIADB_PASSWORD}

DB_TYPE=postgresdb
DB_POSTGRESDB_HOST=postgres
DB_POSTGRESDB_PORT=5432
DB_POSTGRESDB_DATABASE=${POSTGRES_DB}
DB_POSTGRESDB_USER=${POSTGRES_USER}
DB_POSTGRESDB_PASSWORD=${POSTGRES_PASSWORD}

NODE_FUNCTION_ALLOW_BUILTIN=fs,path
